*{
box-sizing: border-box;
 margin:0;
 padding:0;

}
body {
/* font famiy etc*/
 background-color: #7a7a85;
 color:white;
}
h1 {
 color: black;
 text-align: center;
 margin-top:25px;
 margin-bottom:35px;
}
 div.DescriptionContainer {
 border: 1px solid black;
 background-color: #2d2d31;
 height:180px;
 padding-top: 35px;
 padding-bottom: 10px;
 padding-left: 15px;
 padding-right: 15px;
 margin-left: auto;
 margin-right: auto;
 position:relative;
}
div.DescriptionContainer p.DistrName {
	border: 1px solid black;
	width: 100;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	
}
#p1 {
background-color: black;
color: white;
}
#p2{
background-color:#006600;
color: black;
}
#p3{
background-color:green;
color:white;
}
.row{
width:100%;
}
@media (min-width:992px){
 .col-lg-4 {
  float:left;
 }
 	.col-lg-4{
 		width:33.33%;
		/*border: 1px solid white;*/
		padding:10px;
	 } 
	 
}
@media (min-width:768px) and (max-width:991px){
 .col-md-6, .col-md-12{
 float:left;
} 
	.col-md-6{
		width:50%;
		/*border:1px solid white;*/
		padding:10px;
	}
	.col-md-12{
		width:100%;
		/*border:1px solid white;*/
		padding:10px;
	}	
}
@media (max-width:990px){
 .col-sm-12{}
 	.col-sm-12{
		width:100%;
		/*border:1px solid white;*/
		padding:10px 20px 10px 20px;
	}
}
